﻿@model IEnumerable<WatchList>


<div class="row">
    <div class="col-6 justify-content-center">
        <input id="searchBox" class="col-12" type="search" placeholder="Search for Movies/TV Series" />
        <div id="resultList">

        </div>
    </div>
    <div class="col-6">
        <h3>My Watch List</h3>
        @{ if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <div class="card mb-3">
                        <a href='@Url.Action("Index","Details", new { id = item.Id, name = item.Title, desc = item.Desc, image = item.PosterUrl, isSaved = true })'>
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src="@item.PosterUrl" class="card-img" />
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Title</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                

                }

            }
            else
            {
                @Html.Raw("Model Is null");
            }
        }
    </div>


</div>

<script type="text/javascript">

    $(document).ready(function () {

        function getSearchResults() {

            var query = $("#searchBox").val();
            $.ajax({
                type: "GET",
                url: 'Home/GetSearch',
                data: { query: query },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    for (var i = 0; i < response.name.length; i++) {   
                        //Retrieves data from JSON array and puts it together in a list item.
                        // link is used as cannot add javascript when generating url.action
                        let link = '@Url.Action("Index", "Details", new {id = "-1", name = "-2", desc = "-3", image = "-4" })'
                        link = link.replace("-1", response.id[i]).replace("-2", response.name[i]).replace("-3", response.desc[i]).replace("-4", response.image[i]);
                        $('#resultList').append(
                            '<div class="card mb-3" style="max-width:540px;">\
                                <a href="' + link + '">\
                                    <div class="row no-gutters">\
                                        <div class="col-md-4">\
                                            <img src="http://image.tmdb.org/t/p/w600_and_h900_bestv2'+ response.image[i] + '" class="card-img">\
                                        </div>\
                                        <div class="col-md-8">\
                                            <div class="card-body">\
                                                <h5 class="card-title">' + response.name[i] + '</h5>\
                                                <p class="card-text" id="short-desc"> '+ response.desc[i] + '</p>\
                                            </div>\
                                        </div>\
                                    </div>\
                                </a>\
                            </div>');

                    }
                },
                error: function (jqxhr, status, exception) {
                    alert('Exception:', exception);
                }
            });
        }

        $('#searchBox').on('keyup', function (e) {

            $('#resultList').empty();
            if ($(this).val() != '') {
                getSearchResults();
            }
               
        });
    });
  

</script>