﻿@model Watch_List_Site.Models.SearchEntry
@{ 

    if (ViewBag.isSaved)
    {
        <h1>True</h1>
    }
    else
    {
        <h1>False</h1>
    }


    <div class="card mb-3" style="max-width:800px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="@Model.Poster_Path" class="card-img" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Original_Name</h5>
                    <p class="card-text">@Model.Overview</p>
                    @if (ViewBag.isSaved)
                    {
                        <a href="@Url.Action("RemoveFromWatchList", "Details", new { id = Model.Id})" class="btn btn-danger">Remove from Watchlist</a>
                    }
                    else
                    {
                        <a href="@Url.Action("AddToWatchList", "Details", new {name = Model.Original_Name, desc = Model.Overview, image = Model.Poster_Path })" class="btn btn-primary">Add to Watchlist</a>
                    }
                </div>
            </div>
        </div>
    </div>
}